#scroll-area {

}
#contents {

}
.row {

}

.isbn{
	-fx-text-fill: blue;
}

.isbn:hover{
	-fx-underline: true;
}

#back-button{
	-fx-min-height: 30px;
    -fx-min-width: 30px;
	-fx-background-repeat: no-repeat;
  	-fx-background-position: center;
  	-fx-background-size: 25;
	-fx-background-image: url('file:resources/images/buttons/icons8-go-back-64.png');
	-fx-background-color: transparent;
	-fx-text-alignment: center;
}

#titleBar{
    -fx-spacing: 20;
    -fx-border-style: solid inside;
    -fx-border-width: 0 0 1 0;
    -fx-text-alignment: center;
    -fx-padding: 5 5 5 5;
    -fx-border-color:#4abc96;
    -fx-background-color: #FBFCFF;
}

